h4 {
  color: #184c71;
}
#close-btn {
    color: grey;
    font-size: 23px;
    background: transparent;
    position: absolute;
    right: -7px;
    top: 5px
}
ion-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#content-wrapper-2 {
  text-align: center;
}
