<div id="insert-msg-wrapper">
  <div id="textarea-btn-wrapper">
    <div id="add-button">
      <ion-icon name="add"></ion-icon>
    </div>
    <div id="form-wrapper">
      <form [formGroup]="messageCreateForm" (ngSubmit)="logForm()" (keyup.enter)="logForm()">
        <ion-textarea id="text-area" formControlName="newMessage" name="message" rows="1" placeholder="type something">
        </ion-textarea>
        <button clear [disabled]="!messageCreateForm.valid" type="submit" id="send-button" ion-button>
          <ion-icon name="send"></ion-icon>
        </button>
      </form>
    </div>
  </div>
  <div id="btm-btn-wrapper">
    <div>
      <ion-icon name="camera"></ion-icon>
    </div>
    <div>
      <ion-icon name="at" (click)="insertText()"></ion-icon>
    </div>
    <div>
      <ion-icon name="add"></ion-icon>
    </div>
    <div>
      <ion-icon name="checkbox-outline"></ion-icon>
    </div>
    <div>
      <ion-icon name="text"></ion-icon>
    </div>
    <div>
      <ion-icon name="notifications-outline"></ion-icon>
    </div>
  </div>
</div>
